
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
	<head>
    <title>Chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form {margin: 10px;  left: 15%; background: #fff; padding: 3px; position: absolute; bottom: 0; width: 80%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
      form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
      #messages {  list-style-type: none; margin: 0; padding: 7; vertical-align: bottom; padding-left:7px;}
      #messages li { padding: 5px 10px; }
      #fList {padding:5px 10px}
      #opp{}
      #fList:nth-child(odd) {background: #222}
      #scroll {margin-top: 40px; background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); ;margin: 10px; left: 15%; position: absolute; bottom: 50px; width: 80%; height:90%; overflow: auto; vertical-align: bottom;}
      #friends{}
  </style>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link rel = "stylesheet" type = "text/css" href="chatstyles.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel = "stylesheet" type = "text/css" href="chatstyles.css">
        
	</head>
    <body onload="checkFirstVisit()">

     <div class="moveTop scroll" id="friends" class ='bigger'> 
         
<nav class="navbar navbar-inverse sidebar scroll" role="navigation">
    
    <div class="container-fluid ">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Friends</a>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class=" collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class ='bigger' id = "fList" class="nav navbar-nav">
				
				
			</ul>
		</div>
	</div>
</nav>
         </div>
        
        
      <div class = 'round' id = "scroll">
        <ul class = 'round moveRight' accesskey=""id="messages" ></ul>
      </div>
      </div>
        <form class='round makeBlack' autocomplete="off" class="form-signin" id ="chatForm" action = "/chat.html" method = "GET">
          <input style="background-color:#222" required="required" class = 'lighten round'  autocomplete="false" id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button style="background-color:#222" class = ' lighten round'  >Send</button>        
        </form>
      </div>
      
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="/socket.io/socket.io.js"></script>
      <script type="text/javascript">
          var elem = document.getElementById("scroll");
          elem.scrollTop = elem.scrollHeight; 

        //when someone hits submit. 
        var socket = io.connect();
        $('form').submit(function(e){
          e.preventDefault(); // prevents page reloading
          socket.emit('chat_message', $('#txt').val(), );
          var date =  new Date(Date.now()); //the date displayed here will be different than the one if this is loaded.
          var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          var hours = date.getHours(); 
          var am = "am"; 
          if(hours > 12){
            hours = hours-12; 
            am = "pm"
          }
          var hourString = ""; 
          if(hours <10){
            hourString = "0"+hours; 
          }
          else hourString = ""+hours; 
          var min = ""; 
          if(date.getMinutes()<10) min = "0"+date.getMinutes(); 
          else min = date.getMinutes(); 

              var useDate = "on " + months[date.getMonth()] + " " + date.getDate() + ", at " + hourString +":" + min + " "  + am ; 
          $('#messages').append('<li><span id="opp"> <strong>' +name+ '</strong> ' + useDate + ': ' + $('#txt').val() + '</span></li>');
          $('#txt').val('');
          var elem = document.getElementById("scroll");
          elem.scrollTop = elem.scrollHeight; 
          return false;
        });

        //sets the name for that socket.
        var name = ""; 
        socket.on('set_name', function(username){
          name = username; 
          document.getElementById("txt").placeholder = "Select a friend to send a message to..."; 
        });

        //alerts them that user has left 
        socket.on('no_partner', function(){
           document.getElementById("txt").placeholder = "Select a friend to send a message to..."; 
        });

        //  update time when user connects.
        socket.on('update_time', function(){
          var date =  new Date(Date.now());
          var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          var hours = date.getHours(); 
          var am = "am"; 
          if(hours > 12){
            hours = hours-12; 
            am = "pm"
          }
          var hourString = ""; 
          if(hours <10){
            hourString = "0"+hours; 
          }
          else hourString = ""+hours; 
          var min = " "; 
          if(date.getMinutes<10) min = "0"+date.getMinutes(); 
              else min = date.getMinutes(); 

              var useDate = "on " + months[date.getMonth()] + " " + date.getDate() + ", at " + hourString +":" + min + " "  + am ; 
          $('#messages').append('<li style="text-align:center"></li>');
          $('#messages').append('<li style="text-align:center">'+ useDate+ '</li>');
          $('#messages').append('<li style="text-align:center"></li>');
          var elem = document.getElementById("scroll");
          elem.scrollTop = elem.scrollHeight; 
          
        });
    
        socket.on('chat_message', function(msg, username, tag){
          var date =  new Date(Date.now()); //the date displayed here will be different than the one if this is loaded.
              var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
              var hours = date.getHours(); 
              var am = "am"; 
              if(hours > 12){
                hours = hours-12; 
                am = "pm"
              }
              var hourString = ""; 
              if(hours <10){
                hourString = "0"+hours; 
              }
              else hourString = ""+hours; 
              var min = " "; 
              if(date.getMinutes()<10) min = "0"+date.getMinutes(); 
              else min = date.getMinutes(); 

              var useDate = "on " + months[date.getMonth()] + " " + date.getDate() + ", at " + hourString +":" + min + " "  + am ; 

              if(tag == 1) $('#messages').append('<li><span id="opp"> <strong>' +username+ '</strong> ' + useDate + ': ' + msg + '</span></li>');
              else $('#messages').append('<li style="text-align:right"><span id="opp"> <strong>' + username+ '</strong> ' + useDate + ': ' + msg + '</span></li>');
              
              var elem = document.getElementById("scroll");
              elem.scrollTop = elem.scrollHeight; 
        });

        socket.on('clear', function(){
          document.getElementById('messages').innerHTML = "";
        }); 

        socket.on('left', function(name){
          $('#messages').append('<li> <em>' +name+ ' has disconnected. </em> </li>');
          var elem = document.getElementById("scroll");
          elem.scrollTop = elem.scrollHeight; 
        });

        // append text if someone is online
        socket.on('is_online', function(partner, name, firstData, secondData) {
         var firstDataU = [[]];
         var secondDataU = [[]]; 
         for(var i = 0; i<firstData.length; i++) firstDataU.push([firstData[i], 1]); 
         for(var i = 0; i<secondData.length; i++) secondDataU.push([secondData[i], 0]);

         const username = firstDataU.concat(secondDataU);   
         for(var i = 0; i<username.length; i++) if(username[i].length == 0) username.splice(i, 1); 
          
          username.sort(function (a, b){
             
              if(a == [] || b == []) return -1; 
              
              var aDt = new Date(a[0].dt); 
              var bDt = new Date(b[0].dt); 
              if(aDt == bDt) return 0; 
              else {
                  
                  return (aDt < bDt) ? -1 : 1; 
              }
          });
          
          for(var i = 0; i<username.length; i++){
              if(username[i].length == 0) continue; 
              var date = new Date(username[i][0].dt); 
              var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
              var hours = date.getHours(); 
              var am = "am"; 
              if(hours > 12){
                hours = hours-12; 
                am = "pm"
              }
              
              var hourString = ""; 
              if(hours <10){
                hourString = "0"+hours; 
              }
              else hourString = ""+hours; 

              var min = " "; 
              if(date.getMinutes()<10) min = "0"+date.getMinutes(); 
              else min = date.getMinutes(); 

              var useDate = "on " + months[date.getMonth()] + " " + date.getDate() + ", at " + hourString +":" + min + " "  + am ; 

              if(username[i][1] == 1) $('#messages').append('<li><span id="opp"> <strong>' +name+ '</strong> ' + useDate + ': ' + username[i][0].data + '</span></li>');
              else $('#messages').append('<li style="text-align:right"><span id="opp"> <strong>' + partner+ '</strong> ' + useDate + ': ' + username[i][0].data + '</span></li>');
              
            }
            var elem = document.getElementById("scroll");
            elem.scrollTop = elem.scrollHeight; 
        });

        socket.on("joined", function(partner){
          $('#messages').append('<li> <em>' +partner+ ' has connected. </em> </li>');
          var elem = document.getElementById("scroll");
          elem.scrollTop = elem.scrollHeight; 
        }); 

        // ask username
        var username = ""; 
        socket.emit('username', username); 
        
        var names = [];
        socket.on('data', function(data, username){
          
            for(var i = 0; i<data.length; i++){
              if(!names.includes(data[i].email) && data[i].email != username){
                $('#fList').append("<li id = '" + data[i].email + "' class ='bigger' onclick='setPartner(this.id)'> <a href = '#'>" + data[i].email + "<span style='font-size:16px;' class='pull-right hidden-xs showopacity glyphicon glyphicon-user'></span></a></li>"); 
                names.push(data[i].email); 
                  
                  //<ul id='" +data[i].email +  "' onclick='setPartner(this.id)'> " + data[i].email + "</ul>
                  
                  //<li ><a href="#">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
              } 
            }
        });  
        
        socket.on('redirect', function(){
          alert("You are already logged in!"); 
          location.href = './login.html';
        });

        function checkFirstVisit() {
          if (performance.navigation.type == 1) {
            location.href = './login.html';
          } else {
            console.info( "This page is not reloaded");
          }
        }

        var prev = "";
        function setPartner(id){
          if(id == name) {
            alert("You have to select a friend to send a message to!"); 
            return; 
          }
          if(document.getElementById(prev) != null) {
            document.getElementById(prev).style = "color: black";
            
          }
          socket.emit('found_part', id); 
          prev = id; 
          document.getElementById(id).style = "background: linear-gradient(to right, #333, #555);";
          document.getElementById("txt").placeholder = name  + " --> "  + id; 
        }


            function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}
		
	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
  			htmlbodyHeightUpdate()
		});
	});
          
          
          
          
          
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("fList");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

    </script>
	</body>
</html>
